
<div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">

        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left">
              <h1>Universites</h1>
            </div>
            <div class="col-sm-6">
              <div class="float-right mr-4">

                <a class="btn btn-sm btn-danger btn-simple" [routerLink]="['/university/add']">Add a new university</a>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="" [className]="universities.length>12?'table-responsive':''">

            <table class="table table-striped">

              <thead class="text-primary">
                <tr>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let uni of universities; let i= index " class="hoverTd" (dblclick)="setEdit(i)">
                  <td>
                    <span [hidden]="isEdit[i]" >{{uni.nom}}</span>
                    <span [hidden]="!isEdit[i]">
                      <app-edit-university [parentUni]="uni"  (editedEvent)="isEdit[i]=$event" (uniEvent)="updateUniFromChild(i,$event)"></app-edit-university>
                    </span>
                  </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
