<div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h1>Add a student</h1>
        </div>

        <div class=" card-body">
          <form [formGroup]="studentForm">

            <div class=" row">
              <div class=" col-md-6 ">
                <div class=" form-group">
                  <label> Student name </label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <input

                        class="form-control"
                        placeholder="prenom"
                        type="text"

                        name="prenom"

                        formControlName="prenom"
                      />
                      <input

                        class="form-control"
                        placeholder="nom"
                        type="text"

                        name="nom"

                        formControlName="nom"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 ">
                <div class=" form-group">
                  <label for="optionEtudiant"> Level </label>
                  <select id="optionEtudiant" class="form-control" formControlName="optionEtudiant">
                    <option [ngStyle]="{'color': 'black'}" *ngFor="let option of options" value="{{option}}">{{option}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class=" row">
              <div class=" col-md-6 ">
                <div class=" form-group">
                  <label for="department"> Department </label>
                  <select id="department" class="form-control" formControlName="department">
                    <option [ngStyle]="{'color': 'black'}" *ngFor="let department of departments" value="{{department.idDepart}}">{{department.nomDepart}}</option>
                  </select>
                </div>
              </div>
            </div>




          </form>
        </div>

        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" (click)="addEtudiant()" [disabled]="!studentForm.valid">Save</button>
        </div>

      </div>
    </div>

  </div>
</div>
